{% extends 'base.html' %}


{% block body %} 

<section>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">

            {% for doctor in doctors %}

          <div class="card mb-5" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0">
                  <img src="{{doctor.profile_picture.url}}"
                    alt="Generic placeholder image" class="img-fluid"
                    style="width: 180px; border-radius: 10px;">
                </div>
                <div class="flex-grow-1 ms-3">
                  <h5 class="mb-1">Dr. {{doctor.first_name}} {{doctor.last_name}}</h5>
                  <p class="mb-2 pb-1" style="color: #2b2a2a;">@{{doctor.username}}</p>
                  <!-- <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                    style="background-color: #efefef;">
                    <div>
                      <p class="small text-muted mb-1">Articles</p>
                      <p class="mb-0">41</p>
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Followers</p>
                      <p class="mb-0">976</p>
                    </div>
                    <div>
                      <p class="small text-muted mb-1">Rating</p>
                      <p class="mb-0">8.5</p>
                    </div>
                  </div> -->
                  <div class="d-flex pt-1">
                    <a href="{% url 'book-appointment' doctor.id %}" role="button" class="btn btn-primary flex-grow-1">Get Appointment</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </section>

{% endblock body %}